.main6 {
  padding: 20px;
  width: 100%; /* Asegura que ocupe todo el ancho disponible */
   
    margin: auto; /* Centra el contenedor en pantallas grandes */

  h3 {
    text-align: center;
    background-color: $principal-color;
    color: $titulo-color;
    padding: auto;
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 30px;
   }
  .card-img{
    
    width: auto;
    height: 800px;
    opacity: 0.4;
  }

  .card-title{
    color: rgb(252, 252, 252);
    font-size: 2.5rem;
    padding: 20px;
  }

  .card-text{ 
    padding: 60px;
    color: white ;
    font-size: 1.7rem;
    text-align: start;
    font-weight: bolder;
  }
  .img-logo{
    width: auto;
  }

  .logo {
    position: absolute;
    top: 950px; 
    right: 70px; 
    width: 100px;
    height: auto; 
}
 }
  