  // Variables
  $sub-color: black; 
  $hover-color: white; 
  $green-color: #03773d;
  $titulo-color: white;
  $footer-color: white;
  $principal-color: #114358;
  $primer-complementario: #fc9404; 
  $segundo-complementario: #f2ece6;
  $color-claro: #fbfbfb
